body{
    background-color: rgb(243, 170, 243);
    text-align: left;
}
p{
    color: rgb(0, 0, 0);
}
h1{
    font-style: normal;
    font-size: 60%;
}
h2{
    font-style: italic;
color: rgb(243, 0, 170);
}
h3{
    font-size: 60%;
}
.sofia{
color: rgb(0, 0, 0);
font-size: 100%;
font-style: italic;
}
.img3{
    width: 10%;
    text-align: center;
}
.img1{
    width: 10%;
    text-align: left;
}
.img2{
    width: 10%;
    text-align: left;
}
